<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647354439616-443vf0b5j49o3uq1k27iout9039489ll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647354439616-443vf0b5j49o3uq1k27iout9039489ll</string>
	<key>API_KEY</key>
	<string>AIzaSyDWCLVVvfvRjBmG8t4WVZ0n4ISYATeF2hE</string>
	<key>GCM_SENDER_ID</key>
	<string>647354439616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.ST.SportTechnic</string>
	<key>PROJECT_ID</key>
	<string>sporttechnicios</string>
	<key>STORAGE_BUCKET</key>
	<string>sporttechnicios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647354439616:ios:eef64c41e7fc3530545a25</string>
	<key>DATABASE_URL</key>
	<string>https://sporttechnicios.firebaseio.com</string>
</dict>
</plist>